<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost/bd_pelicula</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">r00ts0p0rt3</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">true</property>
    <mapping resource="inkar/app/hibernate/modelo/CategoriaVO.hbm.xml"/>
    <mapping resource="inkar/app/hibernate/modelo/UsuarioVO.hbm.xml"/>
    <mapping resource="inkar/app/hibernate/modelo/PeliculaVO.hbm.xml"/>
  </session-factory>
  <!--session-factory>
    </session-factory-->
</hibernate-configuration>
